*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button{
  outline: none;
  border-radius: .3em;
  border: none;
  padding: .5em .8em;
  cursor: pointer;
}
a{
  text-decoration: none;
  
}
// .overlay{
//   background-color: black !important;
// }
body {
  overflow: hidden;

  background-color: rgba(13, 31, 48, 0.986);
overflow-y: scroll;
min-height: 100vh;
width:100vw;
}
.app {
  width: 100%;
  // height: 90vh;
}
.header {
  position: fixed;
  top:0;
  left:0;
  z-index: 200;
  height: 10vh;
margin-bottom:10vh;
  background-color: hsl(209, 45%, 18%);
  // grid-area: 1/1/1/1;
  color: white;
}
.body {
  // position: fixed;
  margin-top:10vh;
 
  height: 90vh;

}

// .footer {
//   background-color: hsl(210, 28%, 16%);
//   color: white;
// }
::selection {
  background: dodgerblue;
}
::spelling-error {
  color: rgb(255, 0, 85);
}
::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.397);
}

::-webkit-scrollbar-thumb:hover {
  background: dodgerblue;
}

.ReactModal__Content{
  width:50vh !important;
  padding: 0 !important;
  margin: 0 !important;
  @media screen and (max-width:500px) {
width:80vw !important;

  }
}