.body {
  display: grid;
  grid-template: 10fr 10fr/5fr 3fr;
  @media screen and (max-width:900px) {
  grid-template: 5fr 3fr 3fr/1fr 1fr;
  min-height: 100vh;
    
  }
  //   background-color: yellowgreen;
  .code-editor {
    background-color: hsl(209, 19%, 30%);
    color: white;
    grid-area: 1/1/3/1;
  @media screen and (max-width:900px) {
    grid-area: 1/1/2/-1;
    margin-bottom: 2rem;

  }
}
  h1 {
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 0.7rem 0.8rem;
  }
  textarea {
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
    background: transparent;
    height: 50%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0.8rem;
    line-height: 1.5rem;
    border-collapse: true;
  }
  #input {
    border-bottom: 2px solid hsl(210, 28%, 12%);
    height: 80%;
    background: hsla(0, 0%, 100%, 0.116);
  }
  #output {
    background: hsla(0, 0%, 100%, 0.116);

    height: 80%;
  }
  @media screen and (max-width:900px) {
    #input,#output{
      height:70%;
    }
  }
  .input-section {
    grid-area: 1/2/2/-1;

  background-color: hsl(209, 37%, 22%);
    
    // background-color: hsl(210, 15%, 24%);
    color: white;
    @media screen and (max-width:900px) {
      grid-area: 2/1/3/-1;

  
    }
  }
  .output-section {
    grid-area: 2/2/2/-1;

    background-color: hsl(209, 37%, 22%);

    // background-color: hsl(210, 15%, 24%);
    color: white;
    @media screen and (max-width:900px) {
      grid-area: 3/1/4/-1;
      margin-top: 1px;
  
  }
  }
  
}
