.footer {
  display: flex;
  align-items: center;
  background-color: hsl(209, 45%, 18%);
  .errors{
    overflow: hidden;
    overflow: scroll-y;
    padding: 1em;
    font-size: .9rem;
color:rgb(255, 198, 210);
}

}
